@import url('https://fonts.googleapis.com/css?family=Inter:400,700');

:root {

    /* Main Color Palette */
    --black-blue:#151e24;
    --mirage: #1E2C34;
    --blue-body: #273a44;
    --blue-body2: #314754;
    --blue-body3: #3a5565;
    /* Main Color Palette */


    --venice-blue:#086180;
    --blue-chill:#1486A5;
    --roti:#C7AA4D;

    --black-pearl: #142433;
    --midnight-blue: #003366;
    --white: #ffff;
    
    --font-size-h1: 32px;
    --font-size-h2: 24px;
    --font-size-h3: 16px;
    --font-size-body: 12px;

    --font-family-inter: 'Inter';
}

/* Classes */

/* Font Family Inter */
 
.inter-bold-h1-white {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-h1);
    font-weight: 700;
    font-style: normal;
}

.inter-bold-h2-white {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-h2);
    font-weight: 700;
    font-style: normal;
}

.inter-bold-h3-white {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-h3);
    font-weight: 700;
    font-style: normal;
}

.inter-bold-body-white {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-body);
    font-weight: 700;
    font-style: normal;
}

.inter-normal-h1-white {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-h1);
    font-weight: 400;
    font-style: normal;
}

.inter-normal-h2-white {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-h2);
    font-weight: 400;
    font-style: normal;
}

.inter-normal-h3-white {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-h3);
    font-weight: 400;
    font-style: normal;
}

.inter-normal-body-white {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-body);
    font-weight: 400;
    font-style: normal;
}